@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply antialiased;
}

body {
  @apply bg-white dark:bg-slate-950 text-gray-900 dark:text-gray-50 transition-colors duration-300;
}
